.dashboard-section-title {
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    margin-top: 0;
}

.edit-link {
    font-size: 15px;
    color: #136cfc;
    text-decoration: none;
}

.searched-result-card {
    border-radius: 12px;
}